.App{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div.Header{
  display: flex;
  background-color: #24292f;
  width: 100%;
  height: 10vh;
  align-items: center;
}

div.Header form{
  display: flex;
}
div.Header form *{
  box-sizing: border-box;
  margin: 0 1rem 0 1rem;
}

div.Header i{
  font-size: 2rem;
  color: white;
  margin-left: 2.5rem;
}

div.Header input{
  margin-right: 0;
}

div.data-cont section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div.repo-container{
  /* border-bottom: 1px solid grey;
  border-top: 1px solid grey; */
  border: 1px solid #24292f;
  box-sizing: border-box;
  /* box-shadow: 2px 2px grey; */
  width: 350px;
  border-radius: 12px;
  max-height: 50px;
  transition: max-height 1s;
  overflow-y: hidden;
  margin: 0.5rem;

}


div.repo-container :first-child{
  color: #0969da;
  font-weight:600;
  font-size: 1.1rem;
  margin-top: 0.7rem;

}

div.repo-container *{
  margin-left: 1rem;

}
